<main>
    <div id="container">
        <div id="sidebar">
            <div class="box">
                <h2>Browse by Cuisine</h2>
                <div id="cuisines">
                    <ul id="cuisineList">
                        {{#each cuisines}}
                        <li><a href="/filters/{{this}}">{{this}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="box">
                <h2>Browse by Allergen</h2>
                <div id="allergens">
                    <ul id="allergenList">
                        {{#each allergens}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div id="recipes">
            <h2>Top Recipes</h2>
            <div class="recipeBook">
                {{#each recipes}}
                    <div class="recipeCard">
                        <a href="/recipe/{{this.recipeId}}">
                            <img src="{{this.image_url}}" alt="{{this.recipeName}}">
                            <h3>{{this.recipeName}}</h3>
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
    <link rel="stylesheet" type="text/css" href="../../public/css/browse.css" />
</main>