<div class="form-container">
    <h2>Upload a Recipe</h2>
    <form action="/browse" method="GET" enctype="multipart/form-data">
        <!-- Title Input -->
        <label for="title">Recipe Title:</label><br />
        <input type="text" id="recipetitle" name="title" placeholder="Enter the recipe title" required />
        <br />

        <!-- Description -->
        <label for="description">Description:</label><br />
        <textarea id="description" name="description" rows="4" cols="50"
            placeholder="Enter your description here..."></textarea>
        <br />

        <!-- Image Upload -->
        <label for="image">Upload an Image:</label><br />
        <input type="file" id="image" name="image" accept="image/*" required />
        <br />

        <!-- Cuisine Type -->
        <fieldset>
            <legend>Select Cuisine Type:</legend>
            <select name="cuisines" id="cuisines">
            <option value="" selected disabled hidden>Choose Cuisine</option>
            {{#each cuisines}}
            <option value="{{this}}" />{{this}}</option>
            {{/each}}
            </select>
        </fieldset>
        <br />

        <!-- Allergy Options -->
        <fieldset>
            <legend>Select Allergy-Friendly Options:</legend>
            {{#each allergens}}
            <label><input type="checkbox" name="{{this}}" value="{{this}}" /> {{this}}</label>
            {{/each}}
        </fieldset>
        <br />

        <!-- Ingredients -->
        <label for="ingredients">Ingredients:</label><br />
        <input type="text" id="ingredients" name="ingredients" placeholder="Enter Ingredient" />
        <button type="button" id="add-ingredient">Add Ingredient</button>
        <br />

        <!-- Recipe Instructions -->
        <label for="recipe">Recipe:</label><br />
        <textarea id="recipe" name="recipe" rows="4" cols="50" placeholder="Enter your recipe here..."></textarea>
        <br />

        <!-- Submit Button -->
        <button type="submit" id="submit">Submit Recipe</button>
    </form>
</div>
<link rel="stylesheet" href="../public/css/create.css">
<script src="../public/js/create.js"></script>